page-chirp {
    .bal{
        font-size: 48px;
        font-weight: 900;
        color: color($colors, primary, base);
    }

    ion-footer {
        &.footer-md::before {
            background-image: none;
        }
    }
}
