<ion-header>

  <ion-navbar color="dark">
    <ion-title>
      <img alt="DowLogo" height="40" src="assets/imgs/logo.png" />
      <img alt="ChirpLogo" height="40" style="padding-left:4em" src="assets/imgs/chirp.png"/>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="centerMe">
    <div class="row" style="padding-top: 5em">
      <div class="col-sm-9">
          <ion-item>
              <ion-label style="font-size:12pt">Event Name</ion-label>
              <ion-input [(ngModel)]="eventName" style="font-size:12pt"></ion-input>
          </ion-item>
      </div>
      <div class="col-sm-3" style="padding-left: 1em">
          <button ion-button icon-end color="primary" style="font-size: large" round (click)="setupD3()">Create</button>
      </div>
    </div>

    <br/>
    <br/>

    <div class="bal centerMe" id="attendCnt"></div>
  
 

    <br/>

    <!-- <p *ngIf="account">{{ account.address }} - {{ eth }} ETH</p>
    <canvas id="qr"></canvas> -->

    <!-- <h3>Attendance List</h3> -->
    <ion-list inset *ngFor="let attendee of attendeeList;">
        <ion-item >
            <h1>{{ attendee.name }}</h1>
            <h2>{{ attendee.publicAddress }}</h2>
            <p> {{ attendee.time }}</p>
        </ion-item>
    </ion-list>
  </div>

  <div id="svgdiv"></div>

</ion-content>

<ion-footer style="border: 0px solid">
  <ion-toolbar transparent style="border: 0px solid">
    <div class="centerMe">
     
    </div>
  </ion-toolbar>
</ion-footer>